:root {
    --color-primary-darc: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-normal: #819B57;
    --color-brand-light: #cfcfbc;
    --color-brand-darc: #465929;
    --color-secondary-dark: #A18268;
}


$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desoktop: 1280px;
