.features-section {
    text-align: center;
    gap: 20px;


    &__list {
        display: grid;
        gap: 20px;
        padding: 32px 0px;
        grid-template-columns: repeat(1, 1fr);
        
        @media screen and (min-width: $bp-tablet) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        @media screen and (min-width: $bp-desoktop) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

