.footer {
    background: #442808;
    color: #fff;
    padding: 162px 0 42px 0;

    &__container {
        display: grid;
     
        gap: 66px;
        @media screen and (min-width: $bp-tablet) {
                grid-template-columns: 2fr 4fr;
            }
    }

    &__text {
        font-size: 14px;
        padding: 20px 0px;
        flex-grow: 1;
    }

    &__social-list {
        display: flex;
        gap: 20px;
    }

    &__links {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 66px;
        
    }

    &__title {
        font-size: 26px;
        font-weight: 700;
    }

    &__link {
        line-height: 1.5;
        color: #fff;
    }

    &__map {
        line-height: 1;
    }

    &__brand {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }
     &__column{
        display: none;
        @media screen and (min-width: $bp-tablet) {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;
            }
     }
}
