.hero-section {
    padding-top: 186px;
    background: linear-gradient(89.82deg, #1e1e1e -6.88%, rgba(0, 0, 0, 0) 87.45%),
        url(../img/hero-section_background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
   background-attachment: local;
    background-size: cover;
    color: #ffffff;



    &__subtitle {
            font-size: 18px;
            font-weight: 500;
    
            @media screen and (min-width: $bp-tablet) {
                font-size: 22px;
            }
        }
    
        &__title {
            font-family: "Clicker Script", cursive;
            font-weight: 400;
            font-size: 100px;
            margin-bottom: 0;
    
            @media screen and (min-width: $bp-tablet) {
                font-size: 220px;
            }
        }
    
        &__text {
            max-width: 527px;
            margin-bottom: 20px;
        }
    
        &__button {
            margin-bottom: 95px;
        }
}



