.style-section {
    text-align: center;

    &__list {
        padding-top: 32px;
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width: $bp-tablet) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (min-width: $bp-desoktop) {
            grid-template-columns: repeat(4, 1fr);
        }
        
    }
}

